h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

i {
font-size: 3rem;
}

h2 {font-size: 2rem;
    margin-bottom: 0rem;
}

p{
    margin-top: 0rem;
}

ul {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    align-content: center;
    padding: 1rem;
    gap: 3rem;
    /* font-size: x-large; */
}

li {

}